.Product
{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--green);
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 2%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    /* background-image: url(''); */
}

img
{
    width: 200px;
    height: 200px;
}

.description
{
    font-family: 'Raleway', sans-serif;
}

h1{
    color: var(--green);
}

h5{
    color: var(--dark-green);
}

.mid-btn{
    display: flex;
    justify-content: center;
}

#cart-btn{
    padding: 2%;
}